html
  head
    title Shipments
  body
    if shipments.length > 0
        h1 Shipments List

        table
            thead
                tr
                th Shipment ID
                th Nombre
                th Address
                th Calle
                th Numero
                th Ciudad
                th Estado
                th Pais
                th CP
                th Shipping Date
                th Delivered In
            tbody
                each shipment in shipments
                    tr
                        td= shipment.shipmentId
                        td= shipment.Nombre
                        td= shipment.Address
                        td= shipment.Calle
                        td= shipment.Numero
                        td= shipment.Ciudad
                        td= shipment.Estado
                        td= shipment.Pais
                        td= shipment.CP
                        td= shipment.ShippingDate
                        td= shipment.deliveredInDays
    else
      h1 No hay envios