html
  head
    title Shipments
  body
    if shipments.length > 0
        h1 Shipments List

        table
            thead
                tr
                th Shipment ID
                th UserId
                th Address
                th City
                th State
                th Country
                th Zip
                th Shipping Date
                th Estimated Arrival
                th Status
                th Delivered In
            tbody
                each shipment in shipments
                    tr
                        td= shipment.shipmentId
                        td= shipment.userId
                        td= shipment.shipping_address.address
                        td= shipment.shipping_address.city
                        td= shipment.shipping_address.state
                        td= shipment.shipping_address.country
                        td= shipment.shipping_address.zip
                        td= shipment.shipping_date
                        td= shipment.estimated_arrival
                        td= shipment.status
                        td= shipment.deliveredInDays
    else
      h1 No hay envios